#content {
  max-width: 66%;
  margin: 0 auto;
}

code {
  background-color: #eef3f9;
  border: 1px solid #dfdfdf;
  padding: 1px 3px;
  font-size: 12px;
  border-radius: 2px;
}

pre {
  display: block;
  padding: 0.6666em;
  border: 1px solid #dfdfdf;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #eef3f9;
}

pre code {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

img {
  margin: 0;
  padding: 0;
}

#head-sep {
  margin-bottom: 1.5em;
}

#nav {
  position: relative;
  width: 150px;
  right: 15px;
}

#nav img {
  width: 22px;
  height: 16px;
  position: absolute;
}

table.dl {
  width: 100%;
}

table.dl th {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7142857142857142857142857142857em;
  width: 50%;
  vertical-align: top;
}

ol li { 
  text-indent: -1.2em;
  padding-left: 1.2em;
}

ul li { 
  text-indent: -1.0em;
  padding-left: 1.0em;
}
