#content {
  max-width: 66%;
  margin: 0 auto;
}

code {
  background-color: #eef3f9;
  border: 1px solid #dfdfdf;
  padding: 1px 3px;
  font-size: 12px;
  border-radius: 2px;
}

pre {
  display: block;
  padding: 0.6666em;
  border: 1px solid #dfdfdf;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #eef3f9;
}

pre code {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}
