extends layout

block content
  != page.html
  - var archive = _.chain(contents.articles._.directories).map(function(item) {
  -   return item.index
  - }).compact().sortBy(function(item) {
  -   return item.date
  - }).groupBy(function(item) {
  -   return item.date.getFullYear()
  - }).value()

  section.archive
    each year in _.chain(archive).keys().value()
      h6= year
      each article in archive[year]
        li: a(href=article.url)= article.title
