!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/960.css')
      link(rel='stylesheet', href='/css/fbg.css')
      link(rel='stylesheet', href='/css/main.css')
  body
    div.container_12
      header
        div
          img(src='/images/raspberry.jpg', width='200')
          img(src='/images/adventures_in_the_world_of_the_raspberry_pi.png', style='padding-left: 220px')
        div
          img(src='/images/sep.png')
      div#content
        block content
          h2 Welcome to zombocom!
      footer
        div.inner
          block footer
            p &nbsp;
